<% provide(:title, "Home") %>
<h1>Aaron's Totally Not Twitter</h1>
<p>
    This is the Homepage for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
</p>